# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/

# Maxfiy: admin parol fayli hech qachon repoga kirmasin
backend/data/admin_token.txt

# OS
Thumbs.db
.DS_Store

# Maxfiy: ElevenLabs API kaliti
backend/data/elevenlabs_key.txt
